<a href="https://colab.research.google.com/github/bibhukjha/wayhay/blob/main/TripData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import files

uploaded = files.upload()

Saving tripdata.csv to tripdata.csv

In [9]:
data=pd.read_csv('tripdata.csv')

In [10]:
data.head()

   Duration           Start date  ... Bike number  Member type
0      1012  2010-09-20 11:27:04  ...      W00742       Member
1        61  2010-09-20 11:41:22  ...      W00032       Member
2      2690  2010-09-20 12:05:37  ...      W00993       Member
3      1406  2010-09-20 12:06:05  ...      W00344       Member
4      1413  2010-09-20 12:10:43  ...      W00883       Member

[5 rows x 9 columns]

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Duration              115597 non-null  int64
 1   Start date            115597 non-null  object
 2   End date              115597 non-null  object
 3   Start station number  115597 non-null  int64
 4   Start station         115597 non-null  object
 5   End station number    115597 non-null  int64
 6   End station           115597 non-null  object
 7   Bike number           115597 non-null  object
 8   Member type           115597 non-null  object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [12]:
data.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

In [13]:
data['Duration'].describe()

count    115597.000000
mean       1254.649956
std        2914.317998
min          60.000000
25%         403.000000
50%         665.000000
75%        1120.000000
max       85644.000000
Name: Duration, dtype: float64

In [14]:
data=data.drop('Start date',axis=1)
data=data.drop('End date',axis=1)
data=data.drop('Start station',axis=1)
data=data.drop('End station',axis=1)

In [15]:
data.head() ########### label encoder
le = LabelEncoder()
le.fit(data['Member type'])
data['Member type'] = le.transform(data['Member type'])

In [16]:
le = LabelEncoder()
le.fit(data['Bike number'])
data['Bike number'] = le.transform(data['Bike number'])

In [17]:
 data.head

<bound method NDFrame.head of         Duration  Start station number  ...  Bike number  Member type
0           1012                 31208  ...          614            1
1             61                 31209  ...           41            1
2           2690                 31600  ...          836            1
3           1406                 31600  ...          282            1
4           1413                 31100  ...          734            1
...          ...                   ...  ...          ...          ...
115592      2179                 31110  ...          716            0
115593       953                 31106  ...          764            1
115594       737                 31602  ...          819            1
115595       514                 31111  ...          946            1
115596     51962                 31111  ...          636            0

[115597 rows x 5 columns]>

In [18]:
data.shape

(115597, 5)

In [19]:
train=np.array(data.iloc[0:85000]) ### spitting into training and tet
test=np.array(data.iloc[85000:,])

In [20]:
train.shape,test.shape

((85000, 5), (30597, 5))

In [21]:
from sklearn.naive_bayes import GaussianNB ##### guassinan
model=GaussianNB()

In [22]:
model.fit(train[:,0:4],train[:,4])
predicted=model.predict(test[:,0:4])

In [23]:
predicted.shape

(30597,)

In [24]:
predicted

array([1, 1, 1, ..., 1, 1, 0])

In [26]:
count=0 ### accuracy
for l in range(30597):
  if(predicted[l]==test[l,4]):
    count=count+1

In [27]:
count

28086

In [28]:
print(count/30597)

0.9179331306990881